<!-- Error Report -->
<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2>Please fix <%= pluralize(@post.errors.count, "error") %>:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<!-- Form -->
<div class="blog-form">
  <%= form_for @post do |f| %>
    <div>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :author %><br>
      <%= f.text_field :author %>
    </div>
    <div>
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
    <div>
      <%= f.label :body %><br>
      <%= f.text_area :body, size: "60x25" %>
    </div>
    <%= f.submit %>
  <% end %>

  <p><%= link_to 'Cancel', posts_path %></p>
</div>

<!-- Markdown key-table -->
<div class="key-table">
  <table>
    <tr>
      <th>Effect</th>
      <th>Markdown</th>
    </tr>
    <tr>
      <td><strong>bold<strong></td>
        <td>**bold**</td>
      </tr>
      <tr>
        <td><em>italic<em></td>
          <td>*italic*</td>
        </tr>
        <tr>
          <td class="underline">underline</td>
          <td>**underline**</td>
        </tr>
        <tr>
          <td><span class="highlight">highlight</span></td>
          <td>==highlight==</td>
        </tr>
        <tr>
          <td><span class="strikethrough">strikethrough</span></td>
          <td>~~strikethrough~~</td>
        </tr>
        <tr>
          <td><h1>h1 Headline</h1></td>
          <td>#h1 Headline#</td>
        </tr>
        <tr>
          <td><h2>h2 Headline</h2></td>
          <td>##h2 Headline##</td>
        </tr>
        <tr>
          <td><h3>h3 Headline</h3></td>
          <td>###h3 Headline###</td>
        </tr>
        <tr>
          <td><h4>h4 Headline</h4></td>
          <td>####h4 Headline####</td>
        </tr>
        <!-- <tr>
        <td><h5>h5 Headline</h5></td>
        <td>#####h5 Headline#####</td>
      </tr>
      <tr>
      <td><h6>h6 Headline</h6></td>
      <td>######h6 Headline######</td>
    </tr> -->
    <tr>
      <td>___________ (line break)</td>
      <td>*** or ___ (3 underscores)</td>
    </tr>
    <tr>
      <td><a href="">Click Me!</a></td>
      <td>[Click Me!] (http://google.com)</td>
    </tr>
    <tr>
      <td>52<sup>nd</sup></td>
      <td>52^(nd)</td>
    </tr>
    <tr>
      <td>This is an Ordered List:
        <ol>
          <li>
            First item
            <ul>
              <li>first sub-item</li>
            </ul>
          </li>
          <li>Second item</li>
        </ol>
      </td>
      <td>This is an Ordered List:<br><br>1. First item<br>&nbsp;&nbsp;1. first sub-item (lead with 2 empty spaces)<br>2. Second item</td>
    </tr>
    <tr>
      <td>This is an Unordered List:
        <ul>
          <li>
            First item
            <ul>
              <li>sub-item</li>
            </ul>
          </li>
          <li>Second item</li>
        </ul>
      </td>
      <td>This is an Unordered List:<br><br>* First item<br>&nbsp;&nbsp;* sub-item (lead with 2 empty spaces)<br>* Second item</td>
    </tr>
    <tr>
      <td>
        A quote from Vincent van Gogh:
        <blockquote>I am seeking. I am striving. I am in it with all my heart.</blockquote>
      </td>
      <td>A quote from Vincent van Gogh:<br><br>> I am seeking. I am striving. I am in it with all my heart.</td>
    </tr>
    <tr>
      <td>
        <table>
          <tr>
            <th>column 1</th>
            <th>column 2</th>
          </tr>
          <tr>
            <td>cell</td>
            <td class="right-cell">cell</td>
          </tr>
          <tr>
            <td>cell</td>
            <td class="right-cell">cell</td>
          </tr>
        </table>
      </td>
      <td>
        column 1 | column 2<br>
        --- | ---:<br>
        cell | cell<br>
        cell | cell<br><br>
        (align cell text right) ---:<br>
        (align cell text center) :---:

      </td>
    </tr>
  </table>
</div>
