<%- title "#{@post.title} | Blog | Artist Name" %>

<div>
  <h1><%= @post.title %></h1>
  <h2><%= @post.author %></h2>
  <h3><%= @post.created_at.strftime("%b %d, %Y @%H:%M") %></h3>
  <p><%= markdown(@post.body) %></p>

  <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= @post.title %>" data-via="Lando726">Tweet</a>
  <script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>

  <%= link_to 'Back', posts_path %>
</div>
